.footer {
  width: 100%;
  background-color: #273746;
  color: white;
  text-align: center;
  position: relative;
  bottom: 0;

}
.light {
  background-color: #273746;
  color: white;
}

.dark {
  background-color: #1e1e1e;
  color: white;
}